*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

body{

background:#000;
overflow:hidden;

}

#loader{

position:absolute;

height:100vh;
width:100vw;

display:flex;

justify-content:center;

align-items:center;

flex-direction:column;

background:black;

z-index:999;

}

.loadingText{

font-size:55px;

color:white;

letter-spacing:3px;

animation:fade 2s infinite;

}

.counter{

margin-top:30px;

font-size:90px;

font-weight:bold;

color:#ff7aa8;

}

@keyframes fade{

50%{

opacity:.3;

}

}

#story{

height:100vh;

width:100vw;

display:flex;

justify-content:center;

align-items:center;

background:linear-gradient(135deg,#ffd6e7,#ffeef6);

}

.scene{

width:80%;

text-align:center;

}

#typing{

font-size:55px;

color:#c2185b;

line-height:90px;

}
